name: ci

on:
  pull_request:
  push:
    branches: [ "master", "develop" ]

jobs:
  go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: gofmt (check)
        run: |
          test -z "$(gofmt -l .)"

      - name: test (app)
        working-directory: app
        run: go test ./...

      - name: test (telegram-bot)
        working-directory: telegram-bot
        run: go test ./...
